<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.crm.qa.Listener.CustomListener"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/HP USER/IdeaProjects/FreeCrmTestAutomation">
        <classes>
            <class name="com.crm.qa.tests.HomePageTest">


            </class>
            <class name="com.crm.qa.tests.Jet2CityBreaksPageTest">

            </class>
            <class name="com.crm.qa.tests.LoginPageTest">
            </class>
        </classes>
    </test>
</suite>